.bookshelf {
  width: 100%;
  flex: 1;
}

.shelfTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.bookList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
