.bookshelf {
  width: 100%;
}

.shelfTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.bookList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bookList img {
  width: 180px;
  height: 271px;
  object-fit: cover;
}
