.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.title {
  margin-right: auto;
}

.search {
  min-width: 400px;
  max-width: 400px;
  justify-content: center;
}

.menu {
  border-bottom: none;
  line-height: 0px;
  background: none;
  margin-left: auto;
}

.ant-menu-item {
  padding: 10px !important;
}

.ant-menu-item:hover,
.ant-menu-item:hover::after,
.ant-menu-item::after {
  border-bottom: none !important;
  transition: none !important;
}

.menuButton {
  padding: 0px;
}

.menuLink {
  font-size: 1.25rem;
  padding: 0px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 0px;
  align-items: center;
}

.fieldSelection {
  min-width: 400px;
}
