.addReviewContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.buttonBox {
  display: flex;
  gap: 5px;
}
.submitButton {
  align-self: flex-end;
}
.reviewCard {
  width: 100%;
  background-color: inherit;
}
