.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.left {
  display: flex;
  flex-direction: column;
  flex-basis: 0px;
  align-items: center;
  margin-top: 25px;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 66%;
  min-width: 66%;
  margin-top: 25px;
}

.ratingBox {
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: 1.85rem;
  margin-top: 15px;
}

#ratingStars {
  min-width: 200px;
}

.bookviewBox {
  display: flex;
  flex-direction: column;
}
