@import './global.module.css';

html {
  height: 100%;
}

body {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(
    var(--accent-color),
    white,
    white,
    white,
    var(--accent-color)
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}